html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container1,
.container2 {
  max-width: 1200px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #add8e6;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #9370db;
}

header {
  position: fixed;
  top: 0;
  height: 7%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 1px 1px 30px 30px;
  backdrop-filter: saturate(120%) blur(10px);
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  text-decoration: none;
  font-size: 1.5em;
  color: #87ceeb;
  font-weight: bold;
  margin-left: 10px;
}

.logo span {
  color: #add8e6;
}

.navlist {
  list-style: none;
  display: flex;
}

.navlist li {
  font-size: 20px;
  margin-right: 40px;
}

.navlist a {
  text-decoration: none;
  color: #87ceeb;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.navlist a:hover {
  color: #9370db;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
  position: relative;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.7)), url('Images/render1.png') center/cover no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.home-text {
  text-align: center;
}

.home-text h4 {
  font-size: 30px;
  color: #87ceeb;
}

.home-text h1 {
  font-size: 3em;
  margin: 20px 0;
  color: #00b4d8;
}

.home-text span {
  color: #add8e6;
}

.home-text p {
  font-size: 1.2em;
  margin-top: 20px;
  color: #87ceeb;
}

.About {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
  position: relative;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.7)), url('Images/render2.png') center/cover no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.About-container {
  max-width: 800px;
  width: 100%;
  height: 500px;
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.About-img .profile-image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.About-text {
  max-width: 500px;
  margin-left: 30px;
  text-align: justify;
}

.About-text h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #87ceeb;
}

.About-text h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #add8e6;
}

.About-text p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 20px;
  color: #caf0f8;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 50px 20px;
  margin: 0;
  position: relative;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.7)), url('Images/render3.png') center/cover no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container3 {
  max-width: 1200px;
  margin: 0 auto;
}

.skills-text {
  text-align: center;
  color: #fff; 
  margin-bottom: 30px;
}

.skills-text h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.skills-text p {
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 20px;
}

.skills-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  text-align: center;
  color: #fff;
  font-size: 1.2em;
}

.skill i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #87ceeb; 
}

.certificates {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.certificates h3 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.certificate {
  width: 300px;
  margin: 0 20px 30px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  text-align: center;
}

.certificate img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}

.certificate p {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.6em;
  margin-bottom: 15px;
}

.projects {
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
  position: relative;
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.7)), url('Images/render4.png') center/cover no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.project-section {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 50px 20px;
  margin-bottom: 20px; 
  width: 100%; 
  max-width: 800px; 
  border-radius: 10px; 
  backdrop-filter: blur(10px);
  color: white;
}

.project-container {
  text-align: center;
}

.project-container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.project-details {
  margin-top: 30px;
}

.project-details iframe {
  width: 100%;
  height: 315px; 
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-details p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #87ceeb; 
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
  background-color: #9370db; 
}

.icons {
  position: fixed;
  bottom: 5px;
  left: 20px;
  display: flex;
}

.icons a {
  margin-right: 10px;
  color: #87ceeb;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.icons a:hover {
  color: #9370db;
}
